<!doctype html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <title>Message Tool</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
<div ng-view></div>
<script src="javascripts/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0/ng-table.js"></script>

<script src="javascripts/main.js"></script>
<script src="javascripts/controller.js"></script>
<script src="javascripts/service.js"></script>

<!--<script src="services/services.js"></script>-->
<!--<script src="controllers/controllers.js"></script>-->
<!--<script src="controllers/formControllers.js"></script>-->
<!--<script src="services/formservices.js"></script>-->
<!--<script src="javascripts/dirPagination.js"></script>-->
</body>
</html>
