<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                            <h3 class="panel-title" style="text-align:center" >Enter Your Message</h3>
                        </div>
                        <div class="panel-body">
                            <span style="color:green" ng-show="showstatmsg ">{{msg}}</span>
                            <form name="messageform" novalidate>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                <textarea style="width:70%; height:auto" ng-model="message" class="form-control"
                                          rows="6" cols="20" id="Description"></textarea>
                                       <br/>
                                    </div>
                                </div>
                                <div></div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-10">
                                        <button style="width:20%;" ng-disabled="messageform.$invalid" ng-click="submit()"
                                                class="btn btn-primary">
                                            submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                </div>
            </div>

            </div>
    </div>
</div>