<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center" >Message Search</h3>
                    <p> <a href="#/"> <span class="glyphicon glyphicon-plus" style="color:white;float:right">NewMessage</span></a></p>
                </div>
                <div class="panel-body">
                    <span style="color:red;" ng-show="showstatmsg">{{msg}}</span>
                    <input type="text" style="height:100%; width:60%;"  ng-model="searchm" placeholder="MessageSearch" />
                    <button type="button" class="btn btn-info" ng-click="search()">
                                    <span class="glyphicon glyphicon-search"></span> Search</button>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                        <tr>
                            <th style="text-align:center" >MessageId
                            </th>
                            <th style="text-align:center" >Message
                            </th>
                            <th style="text-align:center">Palindrome</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td style="text-align:center">{{msga._id}}</td>
                            <td style="text-align:center">{{msga.message}}</td>
                            <td style="text-align:center">{{msga.palindrome}}</td>

                        </tr>
                        </tbody>
                    </table>




                    </div>
                </div>
                </div>


            </div>
        </div>
</div>